Employeesflows.json
[{"id":"f81aa912.fed1c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4baae4f0.064aac","type":"http request","z":"f81aa912.fed1c8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/bc5efced-0f44-4ea0-906d-a0f69e73c2a8/deployments/879fef87-df9f-4779-b8ea-c5cf3f413d18/online","tls":"","proxy":"","x":688.3830642700195,"y":301.1118211746216,"wires":[["44e19239.e7014c","3c7d33fb.58d9cc"]]},{"id":"8a9d1c2c.9c3b7","type":"function","z":"f81aa912.fed1c8","name":"prediction","func":"var token=msg.payload.token;\nvar LastEvaluation=global.get(\"LastEvaluation\");\nvar NumberOfProjects=global.get(\"NumberOfProjects\");\nvar AverageMonthlyH=global.get(\"AverageMonthlyH\");\nvar TimeSpent=global.get(\"TimeSpent\");\nvar WorkAcc=global.get(\"WorkAcc\");\nvar Left=global.get(\"Left\");\nvar Promotion=global.get(\"Promotion\");\nvar Sales=global.get(\"Sales\");\nvar Salary=global.get(\"Salary\");\n\nmsg.payload={\"fields\":[\"LastEvaluation\",\"NumberOfProjects\",\"AverageMonthlyH\",\"TimeSpent\",\"WorkAcc\",\"Left\",\"Promotion\",\"Sales\",\"Salary\"],\"values\":[[LastEvaluation,NumberOfProjects,AverageMonthlyH,TimeSpent,WorkAcc,Left,Promotion,Sales,Salary]]};\n//msg.payload=State;\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":436.459659576416,"y":248.3229694366455,"wires":[["4baae4f0.064aac","3c7d33fb.58d9cc"]]},{"id":"3c7d33fb.58d9cc","type":"debug","z":"f81aa912.fed1c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":783.2630004882812,"y":156.07660102844238,"wires":[]},{"id":"9b0ff7f.9766a08","type":"http request","z":"f81aa912.fed1c8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","x":525.7142944335938,"y":102.11180019378662,"wires":[["ee8d9c7b.b3251","8a9d1c2c.9c3b7"]]},{"id":"cfc8f1f4.3a863","type":"inject","z":"f81aa912.fed1c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":132.98138427734375,"y":229.77226448059082,"wires":[["97bcbea3.f1e98"]]},{"id":"97bcbea3.f1e98","type":"function","z":"f81aa912.fed1c8","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"271ffe48-9523-4531-8fdb-6a3f44a859a9\"\nvar password=\"f3b0517a-9e55-470e-94e9-b9d58adf7139\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"LastEvaluation\",msg.payload.LastEvaluation)\nglobal.set(\"NumberOfProjects\",msg.payload.NumberOfProjects)\nglobal.set(\"AverageMonthlyH\",msg.payload.AverageMonthlyH)\nglobal.set(\"TimeSpent\",msg.payload.TimeSpent)\nglobal.set(\"WorkAcc\",msg.payload.WorkAcc)\nglobal.set(\"Left\",msg.payload.Left)\nglobal.set(\"Promotion\",msg.payload.Promotion)\nglobal.set(\"Sales\",msg.payload.Sales)\nglobal.set(\"Salary\",msg.payload.Salary)\n\nreturn msg;","outputs":1,"noerr":4,"x":327.4534378051758,"y":102.81574058532715,"wires":[["9b0ff7f.9766a08"]]},{"id":"44e19239.e7014c","type":"function","z":"f81aa912.fed1c8","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":808.6542701721191,"y":407.32917404174805,"wires":[["b454acd0.1cbfe"]]},{"id":"ee8d9c7b.b3251","type":"debug","z":"f81aa912.fed1c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":772.2981948852539,"y":83.14700031280518,"wires":[]},{"id":"3d31d32f.7ddeec","type":"ui_text","z":"f81aa912.fed1c8","group":"eb26dacf.3f50c8","order":2,"width":0,"height":0,"name":"","label":"LastEvaluation","format":"{{msg.payload.LastEvaluation}}","layout":"row-spread","x":382.0869674682617,"y":293.2111873626709,"wires":[]},{"id":"b454acd0.1cbfe","type":"ui_text","z":"f81aa912.fed1c8","group":"eb26dacf.3f50c8","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":807.3084602355957,"y":493.33335304260254,"wires":[]},{"id":"33aef376.63e11c","type":"ui_form","z":"f81aa912.fed1c8","name":"","label":"","group":"eb26dacf.3f50c8","order":0,"width":0,"height":0,"options":[{"label":"LastEvaluation","value":"LastEvaluation","type":"number","required":true},{"label":"NumberOfProjects","value":"NumberOfProjects","type":"number","required":true},{"label":"AverageMonthlyH","value":"AverageMonthlyH","type":"number","required":true},{"label":"TimeSpent","value":"TimeSpent","type":"number","required":true},{"label":"WorkAcc","value":"WorkAcc","type":"number","required":true},{"label":"Left","value":"Left","type":"number","required":true},{"label":"Promotion","value":"Promotion","type":"number","required":true},{"label":"Sales","value":"Sales","type":"text","required":true},{"label":"Salary","value":"Salary","type":"text","required":true}],"formValue":{"LastEvaluation":"","NumberOfProjects":"","AverageMonthlyH":"","TimeSpent":"","WorkAcc":"","Left":"","Promotion":"","Sales":"","Salary":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":116.39752578735352,"y":462.1117763519287,"wires":[["3d31d32f.7ddeec","c161928d.75bbf","5c147ef.16fd38","97bcbea3.f1e98","12895344.f1066d","132bef58.95f5c1","6de46a63.5dd534","dd6ca69f.7710f8","81ed3e59.4cc86","725c13f1.95b20c"]]},{"id":"c161928d.75bbf","type":"ui_text","z":"f81aa912.fed1c8","group":"eb26dacf.3f50c8","order":2,"width":0,"height":0,"name":"","label":"NumberOfProjects","format":"{{msg.payload.NumberOfProjects}}","layout":"row-spread","x":393.74951934814453,"y":334.4575500488281,"wires":[]},{"id":"5c147ef.16fd38","type":"ui_text","z":"f81aa912.fed1c8","group":"eb26dacf.3f50c8","order":2,"width":0,"height":0,"name":"","label":"AverageMonthlyH","format":"{{msg.payload.AverageMonthlyH}}","layout":"row-spread","x":387.9668998718262,"y":370.73296546936035,"wires":[]},{"id":"132bef58.95f5c1","type":"ui_text","z":"f81aa912.fed1c8","group":"eb26dacf.3f50c8","order":2,"width":0,"height":0,"name":"","label":"WorkAcc","format":"{{msg.payload.WorkAcc}}","layout":"row-spread","x":349.00000381469727,"y":439.0000057220459,"wires":[]},{"id":"81ed3e59.4cc86","type":"ui_text","z":"f81aa912.fed1c8","group":"eb26dacf.3f50c8","order":2,"width":0,"height":0,"name":"","label":"Sales","format":"{{msg.payload.Sales}}","layout":"row-spread","x":339.00000381469727,"y":548.0000057220459,"wires":[]},{"id":"dd6ca69f.7710f8","type":"ui_text","z":"f81aa912.fed1c8","group":"eb26dacf.3f50c8","order":2,"width":0,"height":0,"name":"","label":"Promotion","format":"{{msg.payload.Promotion}}","layout":"row-spread","x":358.00000762939453,"y":510.00000762939453,"wires":[]},{"id":"6de46a63.5dd534","type":"ui_text","z":"f81aa912.fed1c8","group":"eb26dacf.3f50c8","order":2,"width":0,"height":0,"name":"","label":"Left","format":"{{msg.payload.Left}}","layout":"row-spread","x":340.00000381469727,"y":472.00000762939453,"wires":[]},{"id":"12895344.f1066d","type":"ui_text","z":"f81aa912.fed1c8","group":"eb26dacf.3f50c8","order":2,"width":0,"height":0,"name":"","label":"TimeSpent","format":"{{msg.payload.TimeSpent}}","layout":"row-spread","x":362.00000381469727,"y":405.0000057220459,"wires":[]},{"id":"725c13f1.95b20c","type":"ui_text","z":"f81aa912.fed1c8","group":"eb26dacf.3f50c8","order":2,"width":0,"height":0,"name":"","label":"Salary","format":"{{msg.payload.Salary}}","layout":"row-spread","x":210.00000762939453,"y":561.0000085830688,"wires":[]},{"id":"eb26dacf.3f50c8","type":"ui_group","z":"f81aa912.fed1c8","name":"Prediction","tab":"d724dadc.14ffa8","disp":true,"width":"6","collapse":false},{"id":"d724dadc.14ffa8","type":"ui_tab","z":"f81aa912.fed1c8","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]